<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-github"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-x-twitter"></i>
        </div>
        <div class="f-info-links">
            <a href="privacy"></a>
        </div>
    </div>
</footer>