<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
  <br>
  <h3>Create a New Listing</h3>
  <form method="POST" action="/listings">
    <div>
      <label for="title" class="form-label">Title</label>
      <input name="listing[title]" type="text" class="form-control" />
    </div>
    <div>
      <label for="discription" class="form-label">Description</label>
    <textarea
      name="listing[description]" class="form-control"></textarea>
    </div>
    <div>
      <label for="listing[image]" class="form-label">Image</label>
      <input name="listing[image]"  type="text" class="form-control" />
    </div>
    <div>
      <label for="listing[price]" class="form-label">Price</label>
      <input name="listing[price]"  type="number" class="form-control" />
    </div>
    <div>
      <label for="listing[country]" class="form-label">Country</label>
      <input name="listing[country]"  type="text" class="form-control" />
    </div>
    <div>
      <label for="listing[location]" class="form-label">Location</label>
      <input name="listing[location]"  type="text" class="form-control" />
    </div> 
    <br>   
    <button class="btn btn-dark">Add</button>
  </form>
</div>
</div>
</body>